<h1>Listing Albums</h1>
 <%= link_to 'New album', new_album_path %>
<table>
  <tr>
    <th>User Email</th> 
  </tr>
 
  <% @user.each do |user| %>
    <tr>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>