<p>
  <b>Your email id is:</b>
  <%= @user.email %>
</p>
<p>
  <b>You are admin:</b>
  <%= @user.admin %>
</p>
<p>
  <b>You have logged in </b>
  <%= @user.sign_in_count %>
  <b> times </b>
</p>
<p>
  <b>Your last IP used to login was </b>
  <%= @user.last_sign_in_ip %> 
</p>
